<!DOCTYPE html>
<html>
<head>
    <title>Teste</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
    <script type="text/javascript">
        function obterGeolocalizacao()
		{
			if (!navigator.geolocation) {
				$('#txtInfo').val('Não foi possível obter a sua geolocalização');
				return;
			}

			if (location.protocol != 'https:') {
				$('#txtInfo').val('Só é permitido obter a geolocalização em sites https');
				return;
			}

			$('#txtInfo').val('obtendo geolocalização...');

			navigator.geolocation.getCurrentPosition(function (position) {

				var texto = 'latitude=' + position.coords.latitude + '\r\n' +
				'longitude=' + position.coords.longitude + '\r\n' +
				'precisao=' + position.coords.accuracy + ' metros\r\n' +
				'velocidade=' + position.coords.speed + ' metros/segundo\r\n' +
				'altitude=' + position.coords.altitude + ' metros\r\n' +
				'precisaoAltitude=' + position.coords.altitudeAccuracy;

				$('#txtInfo').val(texto);
			});
		}
    </script>
</head>
<body>
    <textarea id="txtInfo" rows="6" cols="50"></textarea>
    <input type="button" value="Obter geolocalização" onclick="obterGeolocalizacao();" />
</body>
</html>
